# CPU-only stack (Gym API clásica + SB3 1.x)
gym==0.21.0
stable-baselines3==1.7.0
importlib-metadata~=4.13
gym-super-mario-bros==7.3.0
nes-py
numpy<1.24
matplotlib
torch==1.13.1
torchvision==0.14.1
torchaudio==0.13.1
